<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>Servlet.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthentificationServlet</servlet-name>
        <servlet-class>Servlet.AuthentificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>Servlet.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploaderServlet</servlet-name>
        <servlet-class>Servlet.UploaderServlet</servlet-class>
        <init-param>
            <param-name>chemin</param-name>
            <param-value>/home/ubuntu/Fichiers/</param-value>
        </init-param>
        <multipart-config>
            <location>/home/ubuntu/Fichiers/</location>
            <max-file-size>10485760</max-file-size>
            <!-- 10 Mo -->
            <max-request-size>52428800</max-request-size>
            <!-- 5 x 10 Mo -->
            <file-size-threshold>1048576</file-size-threshold>
            <!-- 1 Mo -->
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>Download</servlet-name>
        <servlet-class>Util.Download</servlet-class>
        <init-param>
            <param-name>chemin</param-name>
            <param-value>/home/ubuntu/Fichiers/</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>DocumentTechnique</servlet-name>
        <servlet-class>Servlet.DocumentTechnique</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthentificationServlet</servlet-name>
        <url-pattern>/AuthentificationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/HomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploaderServlet</servlet-name>
        <url-pattern>/UploaderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Download</servlet-name>
        <url-pattern>/Fichiers/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DocumentTechnique</servlet-name>
        <url-pattern>/DocumentTechnique</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
